<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcsr.thecaosieure">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.tcsr.thecaosieure.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tcsr.thecaosieure.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tcsr.thecaosieure.activities.MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="com.tcsr.thecaosieure.activities.NewsActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.LoginActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.RegisterActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.ForgotPassActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.DetailActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.DepositActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.DepositCardActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.DepositEbankingActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.WithdrawActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.WithdrawATMActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.WithdrawCMTActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.WithdrawBankActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.PhoneRechargeActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.BuyGameCardActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.BuyPhoneCardActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.TraGopActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.IntroActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.ContactActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.ListCardActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.TransDetailActivity"></activity>

        <activity android:name="com.tcsr.thecaosieure.activities.PaidCardActivity"></activity>
    </application>

</manifest>